<%- include('./header'); %>
  <div id="modal" style="display: none">
    <div id="bg">
    </div>
    <div id="fg">
    </div>
  </div>

  <div id="topnav">
    <div id="main-menu-container">
      <div id="main-menu-button">Boards</div>
      <div id="main-menu" style="display: none"></div>
    </div>

    <input type="search" class="topnav-search" name="searchbar" placeholder="Search...">
    <div id="home"><a href="/" id="logolink">Prello</a></div>

    <div id="current-user">
      <%= user.name %>
    </div>

    <div id="log-out">
      <form method='POST' action='/logout'>
        <input type='submit' class='add-button' value='Log Out'>
      </form>
    </div>
  </div>

  <div class="welcomenav">
    <a href="#"><%= boardPage.name %></a>
    <div id="sidebar-container">
      <div id="sidebar-button">
        Show menu
      </div>
    </div>
  </div>

  <div id="boardContainer" class="main-color">
    <ul class="lists">
      <!-- dynamically add lists using ejs -->
      <% for (var i = 0; i < boardPage.lists.length; i++) { %>
        <li>
          <div class="indv-list" data-lid="<%= `${boardPage.lists[i]._id}` %>">
            <%= boardPage.lists[i].title %>
            <input type="button" class="cancel-button" value="&#10005;" onclick="deleteList(event, <%= `"${boardPage._id}", "${boardPage.lists[i]._id}"` %>)">
          </div>
          <ul class="cards">
            <% for (var j=0; j < boardPage.lists[i].cards.length; j++) { %>
              <li class="listed-card" data-cid="<%= `${boardPage.lists[i].cards[j]._id}` %>">
                <ul class="card-labels">
                  <% for (var h=0; h < boardPage.lists[i].cards[j].labels.length; h++) { %>
                    <li class="<%= boardPage.lists[i].cards[j].labels[h] %>"></li>
                  <% } %>
                </ul>
                <%= boardPage.lists[i].cards[j].name %>
                <input type="button" class="cancel-button" value="&#10005;" onclick="deleteCard(event, <%= `
                                                                                    "${boardPage._id}",
                                                                                    "${boardPage.lists[i]._id}",
                                                                                    "${boardPage.lists[i].cards[j]._id}"` %>)">
                <div class="card" style="display: none">
                  <ul class="modal-card">
                    <div class="card-name">
                      <h2><%= boardPage.lists[i].cards[j].name %></h2>
                      <h4>In list <%= boardPage.lists[i].title %></h4>
                    </div>
                    <div class="card-information">
                      <div class="card-members"></div>
                      <div class="card-labels">
                        <ul class="color-label">
                          <% for (var g=0; g < boardPage.lists[i].cards[j].labels.length; g++) { %>
                            <li class="<%= boardPage.lists[i].cards[j].labels[g] %>"></li>
                          <% } %>
                        </ul>
                      </div>
                      <div class="card-desc"></div>
                      <div class="card-comment">
                        Add Comment
                        <br>
                        <textarea rows="3" col="50" class="add-card-name" name="content"></textarea>
                        <input type="button" value="Save" class="add-button" onclick="addComment(event, <%= `
                                                                                    "${boardPage._id}",
                                                                                    "${boardPage.lists[i]._id}",
                                                                                    "${boardPage.lists[i].cards[j]._id}"` %>)">
                      </div>
                      <div class="card-activity">
                        <h2>Activity</h2>
                        <ul class="card-comments-list">
                          <% for (var k=0; k < boardPage.lists[i].cards[j].comments.length; k++) { %>
                            <li class="card-commments">
                              <%= boardPage.lists[i].cards[j].comments[k].content%>
                              <br>
                              by
                              <br>
                              <%= boardPage.lists[i].cards[j].comments[k].author%>
                            </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                    <div class="card-operators">
                      <div class="card-adds">
                        <li>Add member</li>
                        <li class="label-adder-container">
                          Labels
                          <div class="label-adder-button"></div>
                          <div class="label-adder" style="display: none">
                            Labels
                            <ul class="add-labels">
                              <li class="blue-label" onclick='addLabel(event, <%=`
                                                              "${boardPage._id}",
                                                              "${boardPage.lists[i]._id}",
                                                              "${boardPage.lists[i].cards[j]._id}" `%>)'></li>
                              <li class="green-label" onclick='addLabel(event, <%=`
                                                              "${boardPage._id}",
                                                              "${boardPage.lists[i]._id}",
                                                              "${boardPage.lists[i].cards[j]._id}" `%>)'></li>
                              <li class="red-label" onclick='addLabel(event, <%=`
                                                              "${boardPage._id}",
                                                              "${boardPage.lists[i]._id}",
                                                              "${boardPage.lists[i].cards[j]._id}" `%>)'></li>
                              <li class="yellow-label" onclick='addLabel(event, <%=`
                                                              "${boardPage._id}",
                                                              "${boardPage.lists[i]._id}",
                                                              "${boardPage.lists[i].cards[j]._id}" `%>)'></li>
                              <li class="purple-label" onclick='addLabel(event, <%=`
                                                              "${boardPage._id}",
                                                              "${boardPage.lists[i]._id}",
                                                              "${boardPage.lists[i].cards[j]._id}" `%>)'></li>
                              <li class="orange-label" onclick='addLabel(event, <%=`
                                                              "${boardPage._id}",
                                                              "${boardPage.lists[i]._id}",
                                                              "${boardPage.lists[i].cards[j]._id}" `%>)'></li>
                            </ul>
                          </div>
                        </li>
                        <li>Add checklist</li>
                        <li>Add due date</li>
                        <li>Add attachment</li>
                      </div>
                      <div class="card-actions">
                        <li>Move</li>
                        <li>Copy</li>
                        <li>Subscribe</li>
                        <li>Archive</li>
                      </div>
                    </div>
                  </ul>
                </div>
              </li>
            <%}%>
            <div class="card-adder-container">
              <div class="card-adder-button">Add a card...</div>
              <div class="card-adder" style="display: none">
                <form method="POST" action=<%= `${boardPage._id}/list/${boardPage.lists[i]._id}/card` %>>
                  <textarea rows="3" col="50" class="add-card-name" name="name"></textarea>
                  <input type="submit" value="Add" class="add-button">
                  <input type="button" class="cancel-button" value="&#10005;">
                  <input type="button" class="option-button" value="&hellip;">
                </form>
              </div>
            </div>
          </ul>
        </li>
      <%}%>

      <li id="list-adder-container">
        <div id="list-adder-button">
          Add a list...
        </div>
        <div id="list-adder" style="display: none">
          <input type="text" placeholder="Add a list..." class="namer-text" id="new-list-name" name="title">
          <input type="button" value="Save" class="add-button" onclick="addList(event)">
          <input type="button" class="cancel-button" value="&#10005;" onclick="closeAddNewList()">
        </div>
      </li>
    </ul>

    <div id="sidebar" style="display: none">
      <div id="change-background-container">
        <div id="change-background-button">Change background color</div>
        <ul id="change-background">
          <li class="change-color" id="default" data-color="default" onclick="changeColor(event, <%=`
                                                                            "${boardPage._id}"` %>)"></li>
          <li class="change-color" id="color1" data-color="red" onclick="changeColor(event, <%=`
                                                                            "${boardPage._id}"` %>)"></li>
          <li class="change-color" id="color2" data-color="green" onclick="changeColor(event, <%=`
                                                                            "${boardPage._id}"` %>)"></li>
          <li class="change-color" id="color3" data-color="blue" onclick="changeColor(event, <%=`
                                                                            "${boardPage._id}"` %>)"></li>
          <li class="change-color" id="color4" data-color="purple" onclick="changeColor(event, <%=`
                                                                            "${boardPage._id}"` %>)"></li>
          <li class="change-color" id="color5" data-color="orange" onclick="changeColor(event, <%=`
                                                                            "${boardPage._id}"` %>)"></li>
          <li class="change-color" id="color6" data-color="pink" onclick="changeColor(event, <%=`
                                                                            "${boardPage._id}"` %>)"></li>
        </ul>
      </div>

      <div id="add-board-member-container">
        <div id="add-board-member-button">
          Share...
        </div>
        <div id="add-board-member" style="display: none">
          <form method="POST" action=<%= `${boardPage._id}/member`%>>
            <input type="text" class="namer-text" placeholder="John Doe" name="member">
            <input type="submit" value="Add member" class="add-button">
          </form>
        </div>
      </div>

    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js'></script>
<%- include('./footer'); %>
