<%- include('./header');%>
  <div id="topnav">
    <div id="main-menu-container">
      <div id="main-menu-button">Boards</div>
      <div id="main-menu" style="display: none"></div>
    </div>

    <input type="search" class="topnav-search" name="searchbar" placeholder="Search...">
    <div id="home"><a href="/" id="logolink">Prello</a></div>

    <div id="log-out">
      <form method='GET' action='/logout'>
        <input type='submit' id="log-out-button" value='Log Out'>
      </form>
    </div>
  </div>

  <div id="container">
    Personal Boards
    <div id="boardList">
      <ul id="boards">
        <% for (var i = 0; i < userBoards.length; i++) { %>
          <li>
            <a href="/board/<%= userBoards[i]._id %>">
              <div class="board"><%= userBoards[i].name%></div>
            </a>
            <input type="button" class="cancel-button" value="&#10005;" onclick="deleteBoard(event, <%=`"${userBoards[i]._id}"`%>)">
          </li>
        <% } %>

        <li>
          <div class="board" id="board-adder-container">
            <div id="board-adder-button">
              Create new board ...
            </div>
            <div id="board-adder" style="display: none">
              <p id="board-adder-title">
                Create a Board
                <input type="button" class="cancel-button" value="&#10005;">
              </p>
              <hr>
              <form method="POST" action="/board">
                <label for="add-board-title">Title</label>
                <input id="add-board-title" type="text" placeholder="Management" name="title">
                <input id="add-board-btn" class="add-button" type="submit" value="Create">
              </form>

            </div>
          </div>


        </li>

      </ul>

    </div>

    <a href="#">Create a new team ...</a>

    <br>

  </div>
<%- include('./footer');%>
